@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#__next {
  min-height: 100%;
  height: 100%;
}

a {
  @apply transition-colors hover:text-orange-500;
}

.comment {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-1 font-bold;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  p,
  ol,
  ul {
    @apply mb-2;
  }

  ol,
  ul {
    @apply list-inside;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  pre,
  code {
    @apply rounded-md bg-gray-100 text-sm text-gray-950;
  }

  pre {
    @apply p-2;
  }

  code {
    @apply px-2 py-1;
  }

  img {
    @apply border border-gray-400;
  }
}
